/*v1.0.17*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  width: 100%;
}

a {
  color: #0E23E6;
}

.pages-checkout {
  background-color: #fff;
}

.p2p_page,
#checkout_wrapper {
  padding-bottom: 85px;
}

.p2p_page:after,
#checkout_wrapper:after {
  content: 'The data is protected by the international standard PCI DSS';
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding-left: 360px;
  width: 561px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(103, 103, 103, 0.5);
  font-size: 12px;
  line-height: 13px;
  background: url('/static_common/v1/img/new/footer.png') no-repeat 10px 0;
}

.p2p_page:before,
#checkout_wrapper:before {
  content: '';
  position: absolute;
  bottom: 72px;
  left: 0;
  right: 0;
  width: 512px;
  height: 1px;
  margin: auto;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #AB9064 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #AB9064 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #AB9064 50%, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

.form-control {
  height: 40px;
  line-height: 38px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #D2D2D2;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  color: #3D3D3D;
  -webkit-transition-property: border-top, border-bottom, background;
  transition-property: border-top, border-bottom, background;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.form-control.silver {
  background-color: #fff;
}

.form-control.error {
  background-color: #fff;
  border-color: #D0021B;
  color: #3D3D3D;
}

.form-control:focus,
.form-control:active {
  border-color: #AB9064;
}

.form-field {
  margin-top: 0;
}

span.gui-checkbox {
  width: 41px;
  height: 26px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ccc;
  border-radius: 13px;
}

span.gui-checkbox.checked {
  background: #AB9064;
}

span.gui-checkbox.checked i {
  background: #fff;
}

span.gui-checkbox i {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  border: 1px solid #E5E5E5;
}

.section-offer .gui-checkbox,
.form-group-offer .gui-checkbox {
  width: 16px;
  height: 16px;
  background: url('/static_common/v1/img/new/check.png') no-repeat 0 0;
  border-radius: 0;
  margin-right: 3px;
}

.section-offer .gui-checkbox.checked,
.form-group-offer .gui-checkbox.checked {
  background: url('/static_common/v1/img/new/check.png') no-repeat 0 -16px;
}

.section-offer .gui-checkbox i,
.form-group-offer .gui-checkbox i {
  display: none;
}

.container.page-pne > .form-group .error-wrapper,
.product-info-form .form-row .error-wrapper,
.form-sepa .error-wrapper {
  position: relative;
}

.error-wrapper {
  position: relative;
}

.error-wrapper .error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 3px;
  z-index: 4;
  line-height: 1.2;
}

.pages-checkout .page-section-shopinfo {
  -webkit-box-shadow: 0 2px 14px 0 #F3F3F3;
  box-shadow: 0 2px 14px 0 #F3F3F3;
}

.page-section-shopinfo {
  display: none;
}

.page-section-shopinfo .row {
  text-align: center;
}

.page-section-shopinfo .row .col {
  display: none;
}

.page-section-shopinfo .row .col.col-language {
  display: none;
}

.page-section-shopinfo .col-shoptitle {
  display: none;
}

.page-section-shopinfo .col-shoplogo {
  display: none;
}

.col-shoplogo {
  display: none;
}

.col-shoplogo img {
  display: none;
}

.col-shoptitle {
  font-size: 16px;
  color: #7F7F7F;
  width: auto;
  padding: 0 0 0 25px;
  height: 90px;
  border: 0;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  background: #fff;
  line-height: 30px;
  max-height: 90px;
}

.col-shoptitle:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: inherit;
  position: absolute;
}

.col-shoptitle:before {
  content: "...";
  position: absolute;
  right: 0;
  background-color: inherit;
}

.col-shoptitle:before {
  top: 60px;
}

.col-language {
  padding-right: 0;
  position: absolute;
  top: 28px;
  right: 48px;
}

.col-language select {
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  width: 106px;
  height: 30px;
  line-height: 30px;
  color: #7F7F7F;
  padding: 0 0 0 10px;
}

.page-section-overview {
  background: #fff;
  color: #7F7F7F;
  padding: 0;
}

.page-section-overview .container {
  max-width: 561px;
  border-bottom: 1px solid #D2D2D2;
}

.page-section-overview .col-label {
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-section-overview .order-content {
  font-size: 20px;
  color: #3D3D3D;
  font-weight: bold;
  padding-top: 45px;
}

.page-section-overview .order-amount-details {
  color: #7F7F7F;
}

.row-group {
  display: block;
}

.row-group > .row-amount {
  padding-bottom: 25px;
}

.row-group .row {
  display: block;
  text-align: center;
}

.row-group .row .col {
  display: inline-block;
}

.row-group .row-desc .col-label {
  display: none;
}

.row-verify,
.ui_form_button,
.row-desc {
  padding: 25px 0 20px 0;
}

.ui_form_button {
  display: table;
  margin: 0 auto;
}

.ui_form_button .row-extra .col,
.ui_form_button .order-amount-details {
  padding-top: 15px;
}

.ui_form_button .row {
  display: table-row;
  text-align: left;
}

.ui_form_button .row .col,
.ui_form_button .row .order-amount-details {
  display: table-cell;
  width: 50%;
  max-width: 280.5px;
}

.order-amount-actual {
  font-size: 14px;
}

.order-amount {
  white-space: nowrap;
}

.order-amount .txt-amount {
  line-height: normal;
  font-size: 30px;
  color: #AB9064;
  font-weight: bold;
}

.order-amount .order-amount-details {
  line-height: 100%;
  font-style: italic;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.row-extra .col-value .form-control {
  width: auto;
}

.pages-checkout .page-section-tabs {
  background: #fff;
  padding: 0;
}

.pages-checkout .page-section-tabs .nav-tabs {
  text-align: center;
  padding: 15px 0;
  font-size: 0;
  letter-spacing: 0;
}

.pages-checkout .page-section-tabs .nav-tabs li {
  float: none;
  display: inline-block;
  border-right: 2px solid #D2D2D2;
}

.pages-checkout .page-section-tabs .nav-tabs li:last-child {
  border-right: none;
}

.pages-checkout .page-section-tabs .nav-tabs li.label {
  display: none;
}

.pages-checkout .page-section-tabs .nav-tabs li > a {
  font-size: 16px;
  text-indent: -9999px;
  width: 70px;
  background-position: 50% -40px;
  opacity: 0.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3d3d3d;
  font-weight: 600;
  padding: 0 20px 0 60px;
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="card"] > a {
  width: 140px;
  background-image: url('/static_common/v1/img/new/card.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"] > a {
  background-image: url('/static_common/v1/img/new/emoney.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"] > a {
  background-image: url('/static_common/v1/img/new/ibank.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"] > a {
  background-image: url('/static_common/v1/img/new/cash.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="sepa"] > a {
  width: 85px;
  background-image: url('/static_common/v1/img/new/sepa.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="credit"] > a {
  background-image: url('/static_common/v1/img/new/credit.png');
}

.pages-checkout .page-section-tabs .nav-tabs li[data-button="loans"] > a {
  background-image: url('/static_common/v1/img/new/loans.png');
}

.pages-checkout .page-section-tabs .nav-tabs li > a,
.pages-checkout .page-section-tabs .nav-tabs li.active > a,
.pages-checkout .page-section-tabs .nav-tabs li > a:hover,
.pages-checkout .page-section-tabs .nav-tabs li > a:active,
.pages-checkout .page-section-tabs .nav-tabs li.active > a:active {
  border: none;
  margin: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
}

.pages-checkout .page-section-tabs .nav-tabs li.active > a,
.pages-checkout .page-section-tabs .nav-tabs li > a:hover,
.pages-checkout .page-section-tabs .nav-tabs li > a:active,
.pages-checkout .page-section-tabs .nav-tabs li.active > a:active {
  opacity: 1;
  background-position: 50% 0;
  -webkit-transition: opacity 0.35s linear;
  -o-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear;
}

.tab-content .tab-pane.active {
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -ms-animation-duration: 0.35s;
  -o-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

.page-section-content {
  position: relative;
}

.pages-checkout .container.page-pne {
  max-width: 561px;
  margin: 0 auto 15px;
  width: 100%;
  padding: 0;
  position: relative;
}

.pages-checkout .container.page-pne .infobox {
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -ms-animation-duration: 0.35s;
  -o-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  float: none;
  z-index: 20;
  margin: 0;
  border-radius: 0;
  position: absolute;
  border: none;
  text-align: left;
  top: 19px;
  left: 0;
  right: auto;
  width: 398px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 7px 0 7px 50px;
  min-height: 46px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(left, rgba(194, 194, 194, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -o-linear-gradient(left, rgba(194, 194, 194, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: linear-gradient(to right, rgba(194, 194, 194, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26c2c2c2', endColorstr='#26ffffff', GradientType=1);
  font-size: 14px;
  line-height: 16px;
  color: rgba(61, 61, 61, 0.6);
}

.pages-checkout .container.page-pne .infobox:after {
  position: absolute;
  content: '';
  top: 7px;
  left: 22px;
  width: 18px;
  height: 18px;
  background: url('/static_common/v1/img/new/info.svg') no-repeat 0 0;
}

.pages-checkout .container.page-pne .infobox.error:after {
  background-image: url('/static_common/v1/img/new/error.svg');
}

.pages-checkout .container.page-pne .infobox.error .bold {
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: none;
  display: inline-block;
  padding-right: 5px;
}

.pages-checkout .container.page-pne .infobox.error .close {
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  display: none;
}

.pages-checkout .container.page-pne .infobox.error .close:hover:after,
.pages-checkout .container.page-pne .infobox.error .close:hover:before {
  background: rgba(61, 61, 61, 0.3);
}

.pages-checkout .container.page-pne .infobox.error div {
  display: inline;
}

.container.page-pne > .form-group,
.btn-row {
  width: 350px;
  margin: 0 auto 20px;
  padding-left: 0;
  padding-right: 0;
}

.section-offer,
.form-group-recurring,
.form-group-offer {
  text-align: center;
}

#email_row,
#verification_row,
.container.page-pne > .form-group {
  position: relative;
  border: none;
}

#email_row .error,
#verification_row .error,
.container.page-pne > .form-group .error {
  text-align: left;
}

#email_row .form-field {
  position: relative;
}

#email_row .form-field:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: url('/static_common/v1/img/new/email.svg') no-repeat 50% 50%;
}

.page-pne #email_row .form-control,
.page-pne #verification_row .form-control,
.container.page-pne > .form-group .form-control {
  width: 100%;
  max-width: 100%;
}

.page-pne #email_row .control-label,
.page-pne #verification_row .control-label,
.container.page-pne > .form-group .control-label {
  text-transform: none;
  font-size: 12px;
}

.page-pne #email_row .form-control {
  padding-left: 40px;
}

#email_row .control-label,
#verification_row .control-label {
  display: none;
}

.btn-lime,
.btn-yellow {
  font-size: 16px;
  text-transform: uppercase;
  height: auto;
  min-height: 40px;
  line-height: 30px;
  padding: 5px 30px 5px 30px;
  display: block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  position: relative;
  border-radius: 2px;
  -webkit-transition: background-color 0.35s linear;
  -o-transition: background-color 0.35s linear;
  transition: background-color 0.35s linear;
}

.btn-lime .btn-lime,
.btn-yellow .btn-lime {
  background: #AB9064;
}

.btn-lime .amount,
.btn-yellow .amount,
.btn-lime .currency,
.btn-yellow .currency {
  padding: 0 0 0 5px;
  display: inline;
}

.btn-lime.disabled,
.btn-yellow.disabled {
  background: #AB9064;
}

.btn-lime:hover,
.btn-yellow:hover,
.btn-lime.disabled:hover,
.btn-yellow.disabled:hover {
  background-color: #479f32;
}

.form-group-grid {
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  padding: 22px 47px;
  margin-bottom: 15px;
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -ms-animation-duration: 0.35s;
  -o-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

.form-group-grid .form-group .control-label {
  width: 50%;
  color: #7F7F7F;
  padding: 0 15px;
}

.form-group-grid .form-group .form-field {
  padding-bottom: 20px;
  width: 50%;
}

.form-group-grid input.form-control {
  width: 100%;
}

.form-group-grid .form-control.number {
  padding-right: 0;
  width: 86px;
  max-width: 86px;
  margin-right: 11px;
}

.form-group-grid .form-control.number + select.form-control {
  max-width: 132px;
}

.form-group-grid input + input + select.form-control {
  max-width: 100%;
  width: 100%;
}

.form-group-grid select.form-control {
  height: 40px;
  width: 132px;
}

.form-group-grid .divider {
  display: none;
}

.cards {
  padding-bottom: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 15px;
}

.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 398px;
  height: 248px;
}

.card.card-front {
  margin-bottom: 0;
}

.card.card-back {
  top: 0;
  left: auto;
  background: #F3F3F3;
  position: absolute;
  right: 0;
  margin-bottom: 0;
}

.card .form-group {
  padding: 0 22px;
  min-height: inherit;
}

.card .control-label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.card .stripe {
  height: 46px;
  top: 18px;
  background: #666;
}

.card #credit_card_number_row {
  padding-top: 85px;
  position: relative;
}

.card #credit_card_number_row .control-label {
  display: none;
}

.card .credit_card_number,
.card #credit_card_number {
  font-size: 16px;
  letter-spacing: 1px;
}

.card .credit_card_expire_row,
.card #credit_card_expire_row {
  width: 100%;
  margin: 0;
  padding-top: 30px;
  position: relative;
}

.card .credit_card_expire_row .form-control,
.card #credit_card_expire_row .form-control {
  width: 62px;
  text-align: center;
}

.card .cvv2_row,
.card #cvv2_row {
  padding: 85px 22px 0;
  width: 163px;
  text-align: right;
  position: relative;
}

.card .cvv2_row .control-label,
.card #cvv2_row .control-label {
  display: none;
}

.card #cvv2 {
  width: 74px;
  text-align: center;
}

.icons-cc {
  top: 28px;
  padding: 0 22px;
  display: none;
}

.icon-brands {
  display: none;
}

.input_suggest .arrow.active {
  background-color: inherit;
}

.sslprotected {
  display: none;
}

.expire-delimiter {
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.form-sepa {
  padding-bottom: 0;
}

.nav-blocks {
  text-align: center;
}

.nav-blocks li {
  vertical-align: top;
  float: none;
  display: inline-block;
  margin: 0;
}

.nav-blocks li > a {
  position: relative;
  padding: 85px 0 0;
  margin-bottom: 20px;
  width: 120px;
  height: auto;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.nav-blocks li > a.ibank,
.nav-blocks li > a.cash,
.nav-blocks li > a.emoney {
  font-size: 16px;
  background: none;
}

.nav-blocks li > a.ibank:hover,
.nav-blocks li > a.cash:hover,
.nav-blocks li > a.emoney:hover {
  color: #666666;
  background: none;
}

.nav-blocks li > a:hover {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-blocks li > a:hover:before {
  background-color: rgba(89, 195, 65, 0.2);
  background-position: -80px 0;
}

.nav-blocks li > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: background-color 0.35s linear;
  -o-transition: background-color 0.35s linear;
  transition: background-color 0.35s linear;
}

.nav-blocks li > a.emoney-webmoney:before {
  background-image: url('/static_common/v1/img/new/webmoney.png');
}

.nav-blocks li > a.emoney-webmoney_direct:before {
  background-image: url('/static_common/v1/img/new/webmoney.png');
}

.nav-blocks li > a.emoney-rfi_webmon:before {
  background-image: url('/static_common/v1/img/new/webmoney.png');
}

.nav-blocks li > a.emoney-simplepay_webmoney:before {
  background-image: url('/static_common/v1/img/new/webmoney.png');
}

.nav-blocks li > a.emoney-qiwi:before {
  background-image: url('/static_common/v1/img/new/qiwi.png');
}

.nav-blocks li > a.emoney-qiwi_direct:before {
  background-image: url('/static_common/v1/img/new/qiwi.png');
}

.nav-blocks li > a.emoney-rfi_qiwi:before {
  background-image: url('/static_common/v1/img/new/qiwi.png');
}

.nav-blocks li > a.emoney-simplepay_qiwi:before {
  background-image: url('/static_common/v1/img/new/qiwi.png');
}

.nav-blocks li > a.emoney-simplepay_qiwi_high:before {
  background-image: url('/static_common/v1/img/new/qiwi.png');
}

.nav-blocks li > a.emoney-paypal:before {
  background-image: url('/static_common/v1/img/new/paypal.png');
}

.nav-blocks li > a.emoney-rfi_yandex:before {
  background-image: url('/static_common/v1/img/new/yandex.png');
}

.nav-blocks li > a.emoney-simplepay_yandex:before {
  background-image: url('/static_common/v1/img/new/yandex.png');
}

.nav-blocks li > a.emoney-master_pass:before {
  background-image: url('/static_common/v1/img/new/master_pass.png');
}

.nav-blocks li > a.ibank-alfa:before {
  background-image: url('/static_common/v1/img/new/alfa.png');
}

.nav-blocks li > a.ibank-plotva24:before {
  background-image: url('/static_common/v1/img/new/plotva24.png');
}

.nav-blocks li > a.ibank-kb_mplotva:before {
  background-image: url('/static_common/v1/img/new/kb_mplotva.png');
}

.nav-blocks li > a.ibank-p24:before {
  background-image: url('/static_common/v1/img/new/p24.png');
}

.nav-blocks li > a.ibank-liqpay:before {
  background-image: url('/static_common/v1/img/new/p24.png');
}

.nav-blocks li > a.ibank-ralf_banklink:before {
  background-image: url('/static_common/v1/img/new/ralf_banklink.png');
}

.nav-blocks li > a.ibank-trustly:before {
  background-image: url('/static_common/v1/img/new/trustly.png');
}

.nav-blocks li > a.cash-liqpay_cash:before {
  background-image: url('/static_common/v1/img/new/liqpay_cash.png');
}

.page-status-success .page-section-status h1 {
  background-image: url('/static_common/v1/img/new/ok.png');
}

.page-status-failure .page-section-status h1 {
  background-image: url('/static_common/v1/img/new/error.svg');
  background-size: 30px;
}

.page-status .page-section-status {
  background: #fff;
}

.page-status .page-section-status .row-group {
  border: 1px solid #d2d2d2;
  width: 560px;
  margin: auto;
  border-radius: 2px;
  padding: 30px 20px;
}

.page-status .page-section-status .col-label {
  padding-right: 10px;
  white-space: nowrap;
  color: #3D3D3D;
  font-size: 17px;
}

.page-status .page-section-status .col-value {
  color: #3D3D3D;
  font-weight: bold;
  font-size: 17px;
}

.page-status .page-section-status h1 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 35px 0;
  text-align: center;
  font-size: 17px;
  color: #3D3D3D;
}

.page-status .page-section-status h1.success-only {
  background-image: url('/static_common/v1/img/new/ok.png');
}

.page-status .page-section-status h1.fail-only {
  background-image: url('/static_common/v1/img/new/error.svg');
  background-size: 30px;
}

.page-status .row {
  text-align: center;
  display: block;
}

.page-status .btn-row {
  margin: 30px auto 0!important;
}

.p2p_page form {
  position: static!important;
}

.p2p_page .cards {
  margin-bottom: 20px;
  margin-top: 0;
  height: 368px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.p2p_page .form-group {
  position: relative;
}

.p2p_page .cardholder {
  position: static;
  top: auto;
  left: auto;
  padding: 28px 22px 35px;
  line-height: 22px;
}

.p2p_page .icons-cc {
  display: block;
}

.p2p_page .card .control-label {
  display: none;
}

.p2p_page .limits {
  left: 22px;
}

.page-p2p.content {
  padding: 20px 0 0;
}

.ui_p2p_fee {
  position: relative;
}

.fee-row {
  position: absolute;
  left: 103%;
  width: 100%;
  top: 25px;
  white-space: nowrap;
}

.amount-row .control-label,
.amount-row .ui_p2p_fee {
  padding-bottom: 0;
}

.checkout-error .btn-row {
  width: 100%;
}

.checkout-error .btn-yellow {
  max-width: none;
  border-radius: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pages-checkout .container.page-pne,
.form-credit .container,
.form-sepa .container {
  padding-top: 0;
  padding-bottom: 0;
}

.form-credit .container {
  padding-top: 20px;
}

@media (min-width: 641px) {
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"] > a {
    text-indent: 0;
    width: auto;
    background-position: 22px -40px;
  }

  .pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"].active > a,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"] > a:hover,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"] > a:active,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="emoney"].active > a:active {
    background-position: 22px 0;
  }

  .pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"] > a {
    text-indent: 0;
    width: auto;
    background-position: 22px -40px;
  }

  .pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"].active > a,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"] > a:hover,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"] > a:active,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="ibank"].active > a:active {
    background-position: 22px 0;
  }

  .pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"] > a {
    text-indent: 0;
    width: auto;
    background-position: 22px -40px;
  }

  .pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"].active > a,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"] > a:hover,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"] > a:active,
  .pages-checkout .page-section-tabs .nav-tabs li[data-button="cash"].active > a:active {
    background-position: 22px 0;
  }
}

@media (min-width: 961px) {
  .p2p_page .cvv2_row {
    padding-top: 167px;
  }
}

@media (max-width: 960px) {
  .pages-checkout .container.page-pne {
    padding: 0;
  }

  .pages-checkout .container.page-pne .infobox {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 19px;
    left: 0;
    right: auto;
    width: 398px;
  }

  .p2p_page .cards {
    height: auto;
  }

  .p2p_page .row {
    display: block;
  }

  .p2p_page .cards-receiver,
  .p2p_page .cards-sender {
    display: block;
    padding: 0;
  }

  .p2p_page .cards-sender .card-back {
    top: 0;
    left: auto;
    right: 0;
  }

  .p2p_page .section-middle {
    display: none;
  }

  .page-p2p.content {
    max-width: 561px;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .p2p_page:after,
  #checkout_wrapper:after {
    content: '';
    width: auto;
    height: 20px;
    padding: 0;
    background-position: 50% 0;
    background-size: contain;
  }

  .p2p_page:before,
  #checkout_wrapper:before {
    display: none;
  }

  .p2p_page,
  #checkout_wrapper {
    padding-bottom: 120px;
  }

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 66px;
    line-height: 1;
    padding: 26px 15px 20px;
    width: 100%;
    color: #000;
    font-size: 18px;
    border-width: 1px 0;
    margin-bottom: -1px;
    position: relative;
  }

  .form-control::-moz-placeholder {
    color: transparent;
  }

  .form-control:-ms-input-placeholder {
    color: transparent;
  }

  .form-control::-webkit-input-placeholder {
    color: transparent;
  }

  .form-control.error {
    z-index: 2;
  }

  .form-control:focus,
  .form-control:active {
    z-index: 3;
    background-color: rgba(89, 195, 65, 0.1);
  }

  .form-control.silver:focus,
  .form-control.silver:active {
    z-index: 3;
    background-color: rgba(89, 195, 65, 0.1);
  }

  select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: url('/static_common/v1/img/new/caret.png') no-repeat right 10px center;
    padding-right: 20px;
  }

  .ui-radio-wrapper {
    height: 60px;
    line-height: 58px;
    padding-left: 50%;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: -1px;
  }

  .control-label,
  .row-verify .col-label,
  .ui_form_button .col-label {
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 0 0 15px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 7px;
    z-index: 4;
    display: block;
    width: 100%;
  }

  .error-wrapper .error {
    left: 15px;
    padding-top: 0;
    top: -15px;
  }

  .page-section-shopinfo {
    height: 70px;
  }

  .page-section-shopinfo .row {
    padding: 0;
    display: block;
  }

  .page-section-shopinfo .row .col {
    display: block;
    width: auto;
  }

  .col-shoplogo {
    display: none;
  }

  .col-shoptitle {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: rgba(127, 127, 127, 0.5);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .col-language {
    top: 20px;
    right: 15px;
  }

  .page-section-overview .container {
    max-width: none;
  }

  .page-section-overview .col-label {
    text-align: left;
    font-size: 12px;
  }

  .page-section-overview .order-content {
    font-size: 16px;
  }

  .page-section-overview .order-amount .txt-amount {
    font-size: 18px;
  }

  .row-group > .row-amount {
    padding-bottom: 20px;
  }

  .row-verify,
  .ui_form_button,
  .row-desc {
    padding: 0;
  }

  .row-verify {
    display: block;
    position: relative;
    margin-top: -1px;
  }

  .row-verify.row {
    text-align: left;
  }

  .row-verify .col.col-label,
  .row-verify .col.col-value {
    display: block;
    padding-top: 0;
    width: auto;
    max-width: 100%;
  }

  .row-verify .col-value .txt-safewidth.txt-forcewrap {
    height: 66px;
    line-height: 58px;
    padding-left: 15px;
    padding-top: 6px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: -1px;
  }

  .ui_form_button {
    display: block;
  }

  .ui_form_button .order-amount .form-control {
    color: #AB9064;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #f3f3f3 0, #fff 10px);
    background-image: -o-linear-gradient(top, #f3f3f3 0, #fff 10px);
    background-image: linear-gradient(to bottom, #f3f3f3 0, #fff 10px);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffffffff', GradientType=0);
  }

  .ui_form_button .order-amount .form-control:focus,
  .ui_form_button .order-amount .form-control:active {
    background: rgba(89, 195, 65, 0.1);
  }

  .ui_form_button .row-amount {
    margin-top: -1px;
  }

  .ui_form_button .row {
    display: block;
    position: relative;
  }

  .ui_form_button .row:last-child .form-control {
    background-image: -webkit-linear-gradient(top, #fff 58px, #f3f3f3 100%);
    background-image: -o-linear-gradient(top, #fff 58px, #f3f3f3 100%);
    background-image: linear-gradient(to bottom, #fff 58px, #f3f3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff3f3f3', GradientType=0);
  }

  .ui_form_button .row:last-child .form-control:focus,
  .ui_form_button .row:last-child .form-control:active {
    background: rgba(89, 195, 65, 0.1);
  }

  .ui_form_button .row .col,
  .ui_form_button .row .order-amount-details {
    display: block;
    padding-top: 0;
    width: auto;
    max-width: 100%;
  }

  .ui_form_button .row .col-value .txt-safewidth.txt-forcewrap,
  .ui_form_button .row .txt-amount {
    height: 66px;
    line-height: 58px;
    padding-left: 15px;
    padding-top: 6px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: -1px;
  }

  .ui_form_button .order-currency {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 1px;
    bottom: 1px;
    line-height: 64px;
    font-size: 16px;
    min-width: 60px;
    background: #F3F3F3;
    text-align: center;
    color: #7F7F7F;
    font-weight: normal;
  }

  .order-amount .currency {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 1px;
    bottom: 0;
    line-height: 64px;
    font-size: 16px;
    min-width: 60px;
    background: #F3F3F3;
    text-align: center;
    color: #7F7F7F;
  }

  .row-extra .col-value .form-control {
    width: 100%;
  }

  .pages-checkout .page-section-tabs .nav-tabs {
    max-height: none;
    border-bottom: 1px solid #D2D2D2;
    -webkit-box-shadow: 0 2px 14px 0 #F3F3F3;
    box-shadow: 0 2px 14px 0 #F3F3F3;
    margin-bottom: -1px;
  }

  .pages-checkout .page-section-tabs .nav-tabs li > a {
    padding: 0;
  }

  .page-section-content {
    position: static;
  }

  .page-section-content .loading-banner {
    top: auto;
  }

  .pages-checkout .container.page-pne {
    margin: 0;
  }

  .pages-checkout .container.page-pne .infobox {
    position: relative;
    top: 0;
    width: 100%;
    border-top: 1px solid #D2D2D2;
    min-height: 60px;
    display: none;
  }

  .pages-checkout .container.page-pne .infobox.error {
    display: block;
  }

  .container.page-pne > .form-group,
  .btn-row {
    max-width: none;
    width: auto;
    margin: 0;
  }

  .section-offer label,
  .container.page-pne > .form-group label {
    padding: 23px 15px;
    line-height: 20px;
    display: block;
  }

  #email_row .control-label,
  #verification_row .control-label,
  .container.page-pne > .form-group .control-label {
    width: 100%;
    padding: 0 0 0 15px;
  }

  #email_row .form-field:before {
    display: none;
  }

  .page-pne #email_row .control-label,
  .page-pne #verification_row .control-label,
  .container.page-pne > .form-group .control-label {
    font-size: 10px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
  }

  .page-pne #email_row .form-control {
    padding-left: 15px;
  }

  #email_row .control-label,
  #verification_row .control-label {
    display: block;
  }

  .btn-lime,
  .btn-yellow {
    padding: 0 30px 0 30px;
    max-width: none;
    border-radius: 0;
    height: 60px;
    line-height: 58px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .btn-lime#verification_confirm,
  .btn-yellow#verification_confirm {
    right: 50%;
    width: 50%;
  }

  .btn-lime#verification_cancel,
  .btn-yellow#verification_cancel {
    left: 50%;
    width: 50%;
  }

  .container.page-pne > .form-group-grid {
    max-width: none;
  }

  .form-group-grid {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    border-collapse: collapse;
  }

  .form-group-grid .form-group {
    display: block;
    position: relative;
    margin: 0;
  }

  .form-group-grid .form-group .control-label {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    width: auto;
  }

  .form-group-grid .form-group .form-field {
    display: block;
    padding-bottom: 0;
    letter-spacing: 0;
    font-size: 0;
    width: auto;
  }

  .form-group-grid .form-control.number {
    margin-right: 0;
    width: 50%;
    max-width: none;
  }

  .form-group-grid .form-control.number + select.form-control {
    width: 50%;
    max-width: none;
    padding-left: 10px;
  }

  .form-group-grid select.form-control {
    height: 66px;
  }

  .form-group-grid .currency {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 1px;
    bottom: 0;
    line-height: 64px;
    font-size: 16px;
    min-width: 60px;
    background: #F3F3F3;
    text-align: center;
    color: #7F7F7F;
  }

  .form-group-grid .amount {
    padding-right: 60px;
  }

  .form-group-offer .error {
    text-align: left;
  }

  .cards {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    position: static;
  }

  .cards:before,
  .cards:after {
    content: " ";
    display: table;
  }

  .cards:after {
    clear: both;
  }

  .cards:before,
  .cards:after {
    content: " ";
    display: table;
  }

  .cards:after {
    clear: both;
  }

  .card {
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
  }

  .card.card-front {
    position: static;
  }

  .card.card-back {
    position: static;
    background: none;
  }

  .card .form-group {
    padding: 0;
  }

  .card .control-label {
    text-transform: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
  }

  .card .stripe {
    display: none;
  }

  .card #credit_card_number_row {
    padding-top: 0;
  }

  .card #credit_card_number_row:before,
  .card #credit_card_number_row:after {
    content: " ";
    display: table;
  }

  .card #credit_card_number_row:after {
    clear: both;
  }

  .card #credit_card_number_row:before,
  .card #credit_card_number_row:after {
    content: " ";
    display: table;
  }

  .card #credit_card_number_row:after {
    clear: both;
  }

  .card #credit_card_number_row .control-label {
    width: 100%;
    display: block;
  }

  .card .credit_card_number,
  .card #credit_card_number {
    padding-left: 15px;
    background-image: -webkit-linear-gradient(top, #f3f3f3 0, #fff 10px);
    background-image: -o-linear-gradient(top, #f3f3f3 0, #fff 10px);
    background-image: linear-gradient(to bottom, #f3f3f3 0, #fff 10px);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffffffff', GradientType=0);
  }

  .card .credit_card_number:focus,
  .card #credit_card_number:focus,
  .card .credit_card_number:active,
  .card #credit_card_number:active {
    background: rgba(89, 195, 65, 0.1);
  }

  .card .credit_card_expire_row,
  .card #credit_card_expire_row {
    padding: 0;
    border-right: 1px solid #D2D2D2;
    width: 50%;
    float: left;
    vertical-align: top;
  }

  .card .credit_card_expire_row .control-label,
  .card #credit_card_expire_row .control-label {
    width: 100%;
  }

  .card .credit_card_expire_row .form-field,
  .card #credit_card_expire_row .form-field {
    letter-spacing: 0;
    font-size: 0;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: -1px;
  }

  .card .credit_card_expire_row .form-control,
  .card #credit_card_expire_row .form-control {
    vertical-align: top;
  }

  .card .credit_card_expire_row #expire_month,
  .card #credit_card_expire_row #expire_month,
  .card .credit_card_expire_row #expire_year,
  .card #credit_card_expire_row #expire_year {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 60px;
  }

  .card .credit_card_expire_row #expire_month::-moz-placeholder,
  .card #credit_card_expire_row #expire_month::-moz-placeholder,
  .card .credit_card_expire_row #expire_year::-moz-placeholder,
  .card #credit_card_expire_row #expire_year::-moz-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .card .credit_card_expire_row #expire_month:-ms-input-placeholder,
  .card #credit_card_expire_row #expire_month:-ms-input-placeholder,
  .card .credit_card_expire_row #expire_year:-ms-input-placeholder,
  .card #credit_card_expire_row #expire_year:-ms-input-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .card .credit_card_expire_row #expire_month::-webkit-input-placeholder,
  .card #credit_card_expire_row #expire_month::-webkit-input-placeholder,
  .card .credit_card_expire_row #expire_year::-webkit-input-placeholder,
  .card #credit_card_expire_row #expire_year::-webkit-input-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .card .cvv2_row,
  .card #cvv2_row {
    padding: 0;
    text-align: left;
    width: 50%;
    float: left;
    vertical-align: top;
  }

  .card .cvv2_row .control-label,
  .card #cvv2_row .control-label {
    display: block;
  }

  .card #cvv2 {
    width: 100%;
    text-align: left;
  }

  .expire-delimiter {
    padding: 0;
    z-index: 4;
    line-height: 58px;
    padding-top: 6px;
    width: 10px;
    text-align: center;
    display: inline-block;
  }

  .form-sepa {
    padding: 0;
  }

  .form-sepa .form-group {
    display: block;
    position: relative;
  }

  .form-sepa .form-group .form-field {
    padding-bottom: 0 !important;
  }

  .form-sepa .control-label {
    display: block;
    padding: 0 15px;
    line-height: 18px;
  }

  .form-sepa .form-field {
    display: block;
  }

  .product-info-title {
    width: 100%;
    text-align: center;
  }

  .product-info-row {
    text-align: center;
    margin: 0;
  }

  .product-info-col {
    float: none;
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    text-align: left;
  }

  .product-info-descr {
    margin-bottom: 0;
    border-bottom: none;
    padding: 20px;
  }

  .product-info-parts {
    padding: 0 20px;
  }

  .product-info-parts .form-control {
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    width: auto;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
  }

  .product-info-form .form-row {
    margin-bottom: 0;
    line-height: 56px;
    position: relative;
  }

  .product-info-form .form-row .form-field {
    float: none;
    width: 100%;
  }

  .product-info-form .form-row .control-label {
    margin-right: 0;
    float: none;
    border-bottom: none;
    line-height: 18px;
  }

  .product-info-form .form-row .ui-radio-wrapper {
    line-height: 58px;
  }

  .product-info-form .form-heading {
    margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    border: none;
    text-align: center;
    line-height: 60px;
  }

  .page-status .page-section-status .row-group {
    width: 95%;
  }

  .page-status .page-section-status .col-label,
  .page-status .page-section-status .col-value {
    font-size: 14px;
    display: block;
    padding: 5px 0;
  }

  .p2p_page .cards {
    margin: 0;
  }

  .p2p_page .cardholder {
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: -1px;
    height: 66px;
    line-height: 65px;
    padding: 0 15px;
    text-align: center;
  }

  .p2p_page .icons-cc {
    display: none;
  }

  .p2p_page .card .control-label {
    display: block;
  }

  .p2p_page .limits {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: -1px;
    height: 66px;
    padding: 6px 15px 0;
  }

  .p2p_page .section-fields {
    padding-top: 0;
  }

  .p2p_page .control-label {
    text-align: left;
    line-height: 18px;
  }

  .p2p_page .amount-row .form-control {
    font-size: 18px;
    height: 66px;
    line-height: 1;
    width: 100%;
  }

  .p2p_page .amount-row .form-control::-moz-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .p2p_page .amount-row .form-control:-ms-input-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .p2p_page .amount-row .form-control::-webkit-input-placeholder {
    color: rgba(127, 127, 127, 0.5);
  }

  .p2p_page .section-offer {
    margin-bottom: 0;
  }

  .page-p2p.content {
    margin: 0;
    max-width: none;
    padding: 0;
  }

  .fee-row {
    left: auto;
    right: 15px;
    top: 7px;
    width: auto;
    z-index: 4;
  }

  .amount-row.form-group {
    display: block;
  }

  .amount-row .control-label,
  .amount-row .ui_p2p_fee {
    display: block;
  }

  .pages-checkout .container.page-pne,
  .form-credit .container,
  .form-sepa .container {
    max-width: none;
    display: block;
    padding: 0;
  }

  .form-credit .container {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .pages-checkout .page-section-overview .col-label {
    padding: 0 15px;
  }

  .page-pne #email_row .control-label,
  .page-pne #verification_row .control-label,
  .container.page-pne > .form-group .control-label {
    color: rgba(0, 0, 0, 0.5);
  }

  .form-group-grid .form-group .form-field .form-control.number {
    width: 50%;
  }

  .card .credit_card_expire_row .form-control,
  .card #credit_card_expire_row .form-control {
    width: 45px;
  }

  .card .cvv2_row .control-label,
  .card #cvv2_row .control-label {
    width: 100%;
  }
}
