.stripe {
  height: 4px;
  width: auto;
}

.pink {
  background: linear-gradient(to right, #fff 0%, #AB9064 100%);
}

.teal {
  background: linear-gradient(to right, #AB9064 0%, #fff 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}
