.stripe {
  height: 4px;
  width: auto;
}

.leftline {
  background: linear-gradient(to right, #fff 0%, #AB9064 100%);
}

.rightline {
  background: linear-gradient(to right, #AB9064 0%, #fff 100%);
}
