.down-scroll {
    position: fixed;
    bottom: 0;
    -webkit-animation: mymove 1s infinite alternate;
    -moz-animation: mymove 1s infinite alternate;
    animation: mymove 1s infinite alternate;
}

@-webkit-keyframes mymove {
    from {
        bottom: 50px
    }

    to {
        bottom: 20px
    }
}

@keyframes mymove {
    from {
        bottom: 50px
    }

    to {
        bottom: 20px
    }
}


