svg {
  height: 175px;
  overflow: visible;
  display: inline-block;
}

#icon-compass .needle {
  transform-origin: center;
  animation: spin 3.5 1;
  -webkit-animation: spin 3.5s 1;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
